* {
    margin:5px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    width:20%
}
#inputAlbumId {
    padding: 10px;
}
.button{
    padding: 5px;
    width: 20%;
    background-color: green;
    border-radius: 10px;
    font-size: 15px;
}
  table,td {
      border:1px solid;
  }
  table{
      border-collapse: collapse;
      width:100%;
  }
  thead{
    background-color: #04AA6D;
  }
  td{
      padding:10px
  }

  tbody tr{
      background-color: #f2f2f2;
    }
   tbody tr:hover {
       background-color: #ddd;
    }