.headerTextDiv {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.headerText {
    font-weight: bold;
}

.reviewDetails{
    padding-inline: 6%;
}


