


.filterOuterDiv{
    padding-left: 40%;
}

.buttonCategory{
    padding: 2%;
    border-radius: 4px;
    color: black;
}
.buttonCategory:hover{
    background-color: red;
    color: white;
}